{% extends "base.html" %}

{% block leftBar %}
{% if user.is_authenticated %}
{% if noTeam %}
<a href="/team/create/"><li class="leftBarLink">Create Team</li></a>
<a href="/team/all/"><li class="leftBarLink">Join Team</li></a>
{% else %}
<a href="/team/home/"><li class="leftBarLink">My Team Page</li></a>
{% if teamLeader %}
<a href="/team/delete/"><li class="leftBarLink">Delete My Team</li></a>
{% else %}
<a href="/team/leave/"><li class="leftBarLink">Leave My Team</li></a>
{% endif %}
{% endif %}
<br>
{% endif %}
{% endblock %}

{% block content %}
{% if teams %}
{% for team in teams %}
<a class="teamLink" href="/team/details/{{ team.name }}">
<br>
{{ team.name }}
</a>
<br>
Team Leader: {{ team.teamLeader.user.username }}
<br>
<br>
Captain: {{ team.captain }}
<br>
Helm: {{ team.helm }}
<br>
Weapons: {{ team.weapons }}
<br>
Science: {{ team.science }}
<br>
Engineering: {{ team.engineering }}
<br>
Comms: {{ team.comms }}
<br>
{% if noTeam %}
{% if loggedIn %}
<form action="/team/join/" method="post">{% csrf_token %}
<input type="hidden" name="user" value={{ me.user.id }}>
<input type="hidden" name="team" value={{ team.id }}>
<input type="submit" value="Request To Join"></form>
{% endif %}
{% endif %}
<br>
{% endfor %}
{% else %}
There are no teams right now.
{% endif %}

{% endblock %}
