{% extends "base.html" %}

{% block leftBar %}
{% if user.is_authenticated %}
{% if myTeam %}
<a href="/team/home/"><li class="leftBarLink">My Team Page</li></a>
{% if teamLeader %}
<a href="/team/delete/"><li class="leftBarLink">Delete My Team</li></a>
{% else %}
<a href="/team/leave/"><li class="leftBarLink">Leave My Team</li></a>
{% endif %}
{% else %}
<a href="/team/all/"><li class="leftBarLink">Join Team</li></a>
{% endif %}
<br>
{% endif %}
{% endblock %}

{% block content %}
<br>Team - {{ myTeam.name }}!<br>
<br>Here you can view information about your team.  Only the team leader can add people to the team and 
assign people to different positions.<br>


<br>
Team Leader: {{ myTeam.teamLeader.user.username }}
<br>

<br>
{% if teamLeader %}
<form action="/team/update/" method="post">{% csrf_token %}
<label for="drop">Captain:</label>
<select name="drop">
<option value=" "> </option>
{% for t in teamMembers %}
<option value="{{ t.user.username }}"{% if myTeam.captain == t.user.username %} selected="selected"{% endif %}>{{ t.user.username }}</option>
{% endfor %}
</select>
<input type="submit" value="Set" />
<input type="hidden" name="position" value="captain">
</form>
{% else %}
Captain: {{ myTeam.captain }}
{% endif %}

<br>
{% if teamLeader %}
<form action="/team/update/" method="post">{% csrf_token %}
<label for="drop">Helm:</label>
<select name="drop">
<option value=" "> </option>
{% for t in teamMembers %}
<option value="{{ t.user.username }}"{% if myTeam.helm == t.user.username %} selected="selected"{% endif %}>{{ t.user.username }}</option>
{% endfor %}
</select>
<input type="submit" value="Set" />
<input type="hidden" name="position" value="helm">
</form>
{% else %}
Helm: {{ myTeam.helm }}
{% endif %}

<br>
{% if teamLeader %}
<form action="/team/update/" method="post">{% csrf_token %}
<label for="drop">Weapson:</label>
<select name="drop">
<option value=" "> </option>
{% for t in teamMembers %}
<option value="{{ t.user.username }}"{% if myTeam.weapons == t.user.username %} selected="selected"{% endif %}>{{ t.user.username }}</option>
{% endfor %}
</select>
<input type="submit" value="Set" />
<input type="hidden" name="position" value="weapons">
</form>
{% else %}
Weapons: {{ myTeam.weapons }}
{% endif %}

<br>
{% if teamLeader %}
<form action="/team/update/" method="post">{% csrf_token %}
<label for="drop">Science:</label>
<select name="drop">
<option value=" "> </option>
{% for t in teamMembers %}
<option value="{{ t.user.username }}"{% if myTeam.science == t.user.username %} selected="selected"{% endif %}>{{ t.user.username }}</option>
{% endfor %}
</select>
<input type="submit" value="Set" />
<input type="hidden" name="position" value="science">
</form>
{% else %}
Science: {{ myTeam.science }}
{% endif %}

<br>
{% if teamLeader %}
<form action="/team/update/" method="post">{% csrf_token %}
<label for="timezone">Engineering:</label>
<select name="drop">
<option value=" "> </option>
{% for t in teamMembers %}
<option value="{{ t.user.username }}"{% if myTeam.engineering == t.user.username %} selected="selected"{% endif %}>{{ t.user.username }}</option>
{% endfor %}
</select>
<input type="submit" value="Set" />
<input type="hidden" name="position" value="engineering">
</form>
{% else %}
Engineering: {{ myTeam.engineering }}
{% endif %}

<br>
{% if teamLeader %}
<form action="/team/update/" method="post">{% csrf_token %}
<label for="timezone">Comms:</label>
<select name="drop">
<option value=" "> </option>
{% for t in teamMembers %}
<option value="{{ t.user.username }}"{% if myTeam.comms == t.user.username %} selected="selected"{% endif %}>{{ t.user.username }}</option>
{% endfor %}
</select>
<input type="submit" value="Set" />
<input type="hidden" name="position" value="comms">
</form>
{% else %}
Comms: {{ myTeam.comms }}
{% endif %}

<br>
<br>
{% if teamLeader %}
{% if requests %}
Requests:
<br>

{% for r in requests %}
{{ r.user.username }} wants to join.
<form action="/team/allowJoin/" method="post">{% csrf_token %}
<input type="hidden" name="user" value={{ r.user.id }}>
<input type="hidden" name="team" value={{ myTeam.id }}>
<input type="submit" value="Allow"></form>
<br>
{% endfor %}
{% else %}
You have no Requests at this time.
{% endif %}
{% endif %}
<br>
<br>
Team Members:
<br>
{% if teamMembers %}
{% for t in teamMembers %}
<a href="/user/{{ t.user.username}}">{{ t.user.username }}</a>
{% endfor %}
{% else %}
You have no team members at this time.
{% endif %}


{% endblock %}
