<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>What's Cool BYU</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
{% load staticfiles %}
<link rel="stylesheet" href="{% static "templates/style.css" %}" />
{% block extraHeader %}
{% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">

<div class="topbar">
<ul>
{% if user.is_authenticated %}
<li class="tbHeader">{% block username %} {% endblock %}</li>
{% endif %}
<li class="tbHeader">What's Cool BYU</li>
</ul>
</div>

<div class="djContent">

<div class="row-fluid">
{% block content %}
{% endblock %}
</div>

</div>

</div>
{% include "googletracking" %}

</body>
</html>
