{% extends "base.html" %}

{% block leftBar %}
{% if user.is_authenticated %}
{% if noTeam %}
<a href="/team/create/"><li class="leftBarLink">Create Team</li></a>
<a href="/team/all/"><li class="leftBarLink">Join Team</li></a>
{% else %}
<a href="/team/home/"><li class="leftBarLink">My Team Page</li></a>
{% endif %}
<br>
{% endif %}
{% endblock %}

{% block content %}

{% load tz %}
<form action="/waffle/calendar/" method="POST">
    {% csrf_token %}
    <label for="timezone">Time zone:</label>
    <select name="timezone">
        {% for tz in timezones %}
        <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected="selected"{% endif %}>{{ tz }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Set" />
</form>

<br>

<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=v1gjbjr8e0q9dta6oqsiduiikk%40group.calendar.google.com&amp;color=%236B3304&amp;ctz={{tztext}}" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
{% endblock %}
