{% extends "base.html" %}

{% block leftBar %}
{% if user.is_authenticated %}
{% if noTeam %}
<a href="/team/create/"><li class="leftBarLink">Create Team</li></a>
<a href="/team/all/"><li class="leftBarLink">Join Team</li></a>
{% else %}
{% if teamLeader %}
<a href="/team/delete/"><li class="leftBarLink">Delete Team</li></a>
{% endif %}
{% endif %}
<br>
{% endif %}
{% endblock %}

{% block content %}
Thank you for e-mailing me.  I will try to respond to this as quickly as possible.

{% endblock %}
