{% extends "base.html" %}

{% block leftBar %}
{% include "teacher/leftBar.html" %}
{% endblock %}

{% block extraHeader %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<script type="text/javascript">
				tinymce.PluginManager.load('moxiemanager', '/static/js/moxiemanager/plugin.min.js');
				tinymce.init({
					selector: "textarea",
					plugins: [
						"advlist autolink lists link image charmap print preview anchor",
						"searchreplace visualblocks code fullscreen",
						"insertdatetime media table contextmenu paste moxiemanager"
					],
					toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
					autosave_ask_before_unload: false,
					max_height: 200,
					min_height: 160,
					height : 180
				});
				</script>
{% endblock %}

{% block content %}

<div class=rightPage>
<br>
Add A Lesson!

<form action="/teacher/class/{{ classID }}/addLesson/" method="post">
{% csrf_token %}
{% if error %}<p><i>{{ error }}</i></p>{% endif %}
{{ form.non_field_errors }}
<div class="form-row">
{{ form.title.errors }}
<label for="id_title" class="required">Title:</label>
{{ form.title }}
</div>
<div class="form-row">
{{ form.htmlStuff.errors }}
<label for="id_html" class="required">Page:</label>
{{ form.htmlStuff }}
</div>
<div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Save" />
  </div>
</form>
{% endblock %}

{% block username %}
Hello {{ theTeacher.first_name }}

{% endblock %}
