{% extends "base.html" %}

{% block leftBar %}
{% include "teacher/leftBar.html" %}
{% endblock %}

{% block content %}

<div class=rightPage>
<br>

<div class='listOfStudents'>
{% for student in theStudents %}
<div class="studentRow">
<li><a href="/teacher/student/{{ student.user }}">{{ student.first_name }} {{ student.last_name }}</a></li>
</div>
{% empty %}
Sorry, no students are added yet.
{% endfor %}
<p><a class="btn" href=/teacher/class/{{ c.id }}/addStudents>Add Students</a></p>
</div>

{% endblock %}

{% block username %}
Hello {{ theTeacher.first_name }}

{% endblock %}
