{% extends "base.html" %}

{% block leftBar %}
{% include "teacher/leftBar.html" %}
{% endblock %}

{% block extraHeader %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/media/ajax_search/css/ajax_search.css" />
<script src="/media/ajax_search/js/ajax_search.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<table>
<tr>
<td>Name</td>
<td>E-mail</td>
</tr>
{% for student in theStudents %}
<div class="studentRow">
<tr>
<td><a href="/teacher/student/{{ student.user }}">{{ student.first_name }} {{ student.last_name }}</a></td>
<td>{{ student.email }}</td>
</tr>
</div>
{% empty %}
</table>
Sorry, no students are added yet.
{% endfor %}
{% if theStudents %}
</table>
{% endif %}

{% endblock %}



{% block username %}
Hello {{ theTeacher.first_name }}
{% endblock %}
