{% extends "base.html" %}

{% block leftBar %}
{% include "teacher/leftBar.html" %}
{% endblock %}

{% block extraHeader %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<script type="text/javascript">
				tinymce.PluginManager.load('moxiemanager', '/static/js/moxiemanager/plugin.min.js');
				tinymce.init({
	selector: "textarea",
	theme: "modern",
	plugins: [
		"advlist autolink lists link image charmap print preview hr anchor pagebreak",
		"searchreplace wordcount visualblocks visualchars code fullscreen",
		"insertdatetime media nonbreaking save table contextmenu directionality",
		"emoticons template paste textcolor moxiemanager"
	],
	toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
	toolbar2: "print preview media | forecolor backcolor emoticons",
	image_advtab: true,
	templates: [
		{title: 'Test template 1', content: '<b>Test 1</b>'},
		{title: 'Test template 2', content: '<em>Test 2</em>'}
	],
	autosave_ask_before_unload: false
});
				</script>
{% endblock %}

{% block content %}
{{ l.title }}

<br>
<br>
<div class="confirmation-box">
        <p>{{ message }}</p>
        <div>
            <a href="{{ prevLink }}">Cancel</a>
            <form action="{{ actionLink }}" method="post">
            {% csrf_token %}
                <input type="hidden" name="next" value="{{ prevLink }}" />
                <input type="submit" value="Yes" />
            </form>
        </div>
    </div>
<br>
<br>


{% endblock %}



{% block username %}
Hello {{ theTeacher.first_name }}
{% endblock %}
