
<ul>
<li><a href="/teacher">Home</a></li>
<li><a href="/auth/logout/">Log Out</a></li>
<li><a href="/admin">Admin</a></li>

<br>
<li><a href="/teacher/addClass">Add Class</a></li>
<li class="leftBarHiddenLink"><a href="/teacher/allClasses">All Classes</a></li>
{% for c in theClasses %}
<a href="/teacher/class/{{ c.id }}"><li class="leftBarLinkindent1">{{ c.class_title }}</li></a>
{% empty %}
{% endfor %}
<br>
<li><a href="/teacher/addStudent">Add Student</a></li>
<li><a href="/teacher/allStudents">All Students</a></li>
</ul>
