{% extends "base.html" %}

{% block leftBar %}
{% include "teacher/leftBar.html" %}
{% endblock %}



{% block content %}

<br>
All Classes:
<ul>
{% for c in theClasses %}
<li><a href="/teacher/class/{{ c.id }}">{{ c.class_title }}</a>
 - 
 <a href="/teacher/class/{{ c.id }}/changeClassTitle">Change Class Info</a>
 - 
<a href="/teacher/class/{{ c.id }}/addLesson">Add Lesson</a>
 - 
<a href="/teacher/class/{{ c.id }}/addStudents">Add Students</a>
 - 
 <a href="/teacher/class/{{ c.id }}/deleteClass">Delete Class</a>
 </li>
{% empty %}
{% endfor %}
</ul>
{% endblock %}



{% block username %}
Hello {{ theTeacher.first_name }}
{% endblock %}
