{% extends "base.html" %}

{% block leftBar %}
{% if user.is_authenticated %}
{% if noTeam %}
<a href="/team/create/"><li class="leftBarLink">Create Team</li></a>
{% else %}
<a href="/team/home/"><li class="leftBarLink">My Team Page</li></a>
{% endif %}
<br>
{% endif %}
{% endblock %}

{% block extraHeader %}
<script type="text/javascript">
function showMessage(msg) {
	var text = ""
	$.getJSON("{% url "get_update_form" %}", { what: msg }, function(something) {
        text = something.formToAdd;
    	if (msg == "twitch"){
    		document.getElementById('twitchEdit').innerHTML = text;
    		document.getElementById('skypeEdit').innerHTML = "<input type=\"button\" value=\"Edit\" onclick=\"showMessage('skype');\" />";
    		document.getElementById('emailEdit').innerHTML = "<input type=\"button\" value=\"Edit\" onclick=\"showMessage('email');\" />";
    	}
        if (msg == "skype"){
    		document.getElementById('skypeEdit').innerHTML = text;
    		document.getElementById('twitchEdit').innerHTML = "<input type=\"button\" value=\"Edit\" onclick=\"showMessage('twitch');\" />";
    		document.getElementById('emailEdit').innerHTML = "<input type=\"button\" value=\"Edit\" onclick=\"showMessage('email');\" />";
    	}
        if (msg == "email"){
    		document.getElementById('emailEdit').innerHTML = text;
    		document.getElementById('twitchEdit').innerHTML = "<input type=\"button\" value=\"Edit\" onclick=\"showMessage('twitch');\" />";
    		document.getElementById('skypeEdit').innerHTML = "<input type=\"button\" value=\"Edit\" onclick=\"showMessage('skype');\" />";
    	}
    });
};
function doUpdate() {
	what = document.getElementById('in1').value
	newValue1 = document.getElementById('in2').value
	newValue2 = document.getElementById('in3').checked
	$.getJSON("{% url "do_update" %}", { what: what, newValue1: newValue1, newValue2: newValue2}, function(something) {
        if (what == 'twitch'){
    		document.getElementById('twitchEdit').innerHTML = "<input type=\"button\" value=\"Edit\" onclick=\"showMessage('twitch');\" />";
    		if(newValue2 == true ) {
    			document.getElementById('twitchText').innerHTML = "Twitch Username - *****";
    		} else  {
    			document.getElementById('twitchText').innerHTML = "Twitch Username - " + newValue1;
    		}
    	}
        if (what == 'skype'){
        	document.getElementById('skypeEdit').innerHTML = "<input type=\"button\" value=\"Edit\" onclick=\"showMessage('skype');\" />";
    		if(newValue2 == true ) {
    			document.getElementById('skypeText').innerHTML = "Skype Username - *****";
    		} else  {
    			document.getElementById('skypeText').innerHTML = "Skype Username - " + newValue1;
    		}
    	}
        if (what == 'email'){
        	document.getElementById('emailEdit').innerHTML = "<input type=\"button\" value=\"Edit\" onclick=\"showMessage('email');\" />";
    		if(newValue2 == true ) {
    			document.getElementById('emailText').innerHTML = "E-mail - *****";
    		} else  {
    			document.getElementById('emailText').innerHTML = "E-mail - " + newValue1;
    		}
    	}
    });
};
</script>
{% endblock %}


{% block content %}
Home page for {{ stud.user.username }}.<br><br>
{% if myself %}
This is what your profile looks like to others.  You may change any of the settings below.
{% else %}
Here you can view a user's info if they have it set to visible.
{% endif %}
<br><br>
<br>
Team - <a href="/team/details/{{ stud.myTeam.name }}">{{ stud.myTeam.name }}</a>
<br>
<div id="twitchText">Twitch Username - {% if stud.hideTwitch %}*****{% else %}{{ stud.twitchName }}{% endif %}</div>
{% if myself %}
<div id="twitchEdit">
<input type="button" value="Edit" onclick="showMessage('twitch');" />
</div>
{% endif %}
<br>
<div id="skypeText">Skype Username - {% if stud.hideSkpye %}*****{% else %}{{ stud.skypeName }}{% endif %}</div>
{% if myself %}
<div id="skypeEdit">
<input type="button" value="Edit" onclick="showMessage('skype');" />
</div>
{% endif %}
<br>
<div id="emailText">E-mail - {% if stud.hideEmail %}*****{% else %}{{ stud.email }}{% endif %}</div>
{% if myself %}
<div id="emailEdit">
<input type="button" value="Edit" onclick="showMessage('email');" />
</div>
{% endif %}
<br>
{% endblock %}
